* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: var(--Black);
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: var(--Gray);
}

a:hover {
  color: var(--Black);
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Roboto-medium", Arial;
  font-weight: 500;
  color: var(--Gray);
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Bold.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-regular";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Regular.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-italic";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Italic.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-semiBold";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-SemiBold.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-medium";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Medium.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Light.woff2")
      format("woff2"),
    url("./font/Poppins/transfonter.org-20240311-053657/Poppins-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* header section */

#top .wrapper .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top .wrapper .navbar h1 a img {
  width: 100%;
  display: block;
}

#top .wrapper .navbar nav ul {
  display: flex;
  justify-content: space-between;
}

#top .wrapper .navbar nav ul li {
  padding: 10px;
  margin: 15px;
}

#top .wrapper .navbar nav ul li a {
  font-family: "Poppins-medium";
  font-size: 18px;
  color: rgb(123, 123, 123);
}
#top .wrapper .navbar nav ul li a:hover {
  color: black;
}

#top .wrapper .navbar .right {
  display: flex;
  align-items: center;
}

#top .wrapper .navbar .search {
  display: flex;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.098);
  margin-right: 50px;
  padding: 4px;
  border-radius: 7px;
}

#top .wrapper .navbar .search a {
  padding-left: 10px;
  padding-top: 5px;
}

#top .wrapper .navbar .search input {
  padding-left: 9px;
  font-size: 16px;
}

#top .wrapper .navbar .cart a {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.098);
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
}

/* header section completed */
/* spotlight section */

#spotlight {
  position: relative;
}

#spotlight .background_img img {
  height: 100vh;
  width: 100%;
  display: block;
}

#spotlight .slide_btn1 {
  position: absolute;
  top: 40%;
  left: 3%;
  cursor: pointer;
}

#spotlight .slide_btn2 {
  position: absolute;
  top: 40%;
  right: 3%;
  cursor: pointer;
}

#spotlight .container {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#spotlight .container .top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#spotlight .container .top h3 {
  padding: 10px;
  margin: 15px;
  font-family: "Poppins-semiBold";
  color: white;
  font-size: 26px;
}

#spotlight .container .top h2 {
  padding: 10px;
  font-family: "Poppins-bold";
  font-size: 65px;
  color: white;
}

#spotlight .container .bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#spotlight .container .bottom h3 {
  padding: 10px;
  margin: 15px;
  font-family: "Poppins-semiBold";
  font-size: 26px;
  color: white;
}

#spotlight .container .bottom a {
  padding: 10px;
  margin: 15px;
  border: 1px solid white;
  padding: 6px 40px;
  background-color: #fff;
  border-radius: 6px;
}

#spotlight .container .bottom a button {
  font-family: "Poppins-semiBold";
  font-size: 17px;
  cursor: pointer;
}
/* spotlight section end  */
/* explore section  */


#explore .wrapper .container {
  margin: 60px 0px;
  display: flex;
}

#explore .wrapper .container .box1 {
  position: relative;
}

#explore .wrapper .container .box1 .left {
  position: absolute;
  top: 15%;
  left: 5%;
}

#explore .wrapper .container .box1 .left h3 {
  margin-bottom: 30px;
  font-family: "Poppins-semiBold";
  color: #fff;
  font-size: 25px;
}

#explore .wrapper .container .box1 .left h2 {
  margin-bottom: 10px;
  font-family: "Poppins-bold";
  color: #fff;
  font-size: 29px;
}

#explore .wrapper .container .box1 .left p {
  margin-bottom: 45px;
  font-family: "Poppins-Light";
  font-size: 13px;
  color: #fff;
}

#explore .wrapper .container .box1 .left a {
  font-family: "Poppins-semiBold";
  color: #fff;
  font-size: 13px;
  text-decoration: underline;
}

#explore .wrapper .container .box1 .right {
}

#explore .wrapper .container .box1 .right .image {
  width: 90%;
  height: 310px;
  overflow: hidden;
  border-radius: 35px;
}

#explore .wrapper .container .box1 .right .image img {
  width: 100%;
  display: block;
}

#explore .wrapper .container .box2 {
  position: relative;
}

#explore .wrapper .container .box2 .left {
  position: absolute;
  top: 15%;
  left: 5%;
}

#explore .wrapper .container .box2 .left h3 {
    margin-bottom: 30px;
    font-family: "Poppins-semiBold";
    color: #fff;
    font-size: 23px;
}

#explore .wrapper .container .box2 .left h2 {
    margin-bottom: 10px;
    font-family: "Poppins-bold";
    color: #fff;
    font-size: 27px;
}

#explore .wrapper .container .box2 .left p {
    margin-bottom: 35px;
    font-family: "Poppins-Light";
    font-size: 13px;
    color: #fff;
}

#explore .wrapper .container .box2 .left a {
    font-family: "Poppins-semiBold";
    color: #fff;
    font-size: 13px;
    text-decoration: underline;
}

#explore .wrapper .container .box2 .right {

}

#explore .wrapper .container .box2 .right .image {
  width: 90%;
  height: 310px;
  overflow: hidden;
  border-radius: 35px;
}

#explore .wrapper .container .box2 .right .image img {
  width: 100%;
  display: block;
}

/* explore section completed  */